.about {
  margin-top: 70px;
  margin-bottom: 20px;

  .info {
    width: 90%;
    margin: auto;

    @media (max-width: 650px) {
      img {
        display: block;
        width: 200px;
        height: auto;
        border-radius: 3px;
        margin: auto;
      }

      .about-text {
        display: block;
        max-width: 50vw;
        margin-left: 20px;
        margin: auto;

        p {
          text-align: left;
          font-size: 18px;
          font-weight: 100;
          line-height: 1;
          letter-spacing: 0.03em;
          margin: 12px 0;
        }
      }
    }

    @media (min-width: 651px) {
      img {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        height: auto;
        border-radius: 3px;
      }

      .about-text {
        display: inline-block;
        vertical-align: middle;
        max-width: 50vw;
        margin-left: 20px;

        p {
          text-align: left;
          font-size: 18px;
          font-weight: 100;
          line-height: 1;
          letter-spacing: 0.03em;
          margin: 8px 0;
        }
      }
    }
  }
  @media (min-width: 651px) {
    .info {
      padding: 0 10px 0 0;
    }
  }
}
