// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Source+Sans+Pro');

@main-font: 'Source Sans Pro', sans-serif;

// Colors
@white: #fff;
@alto: #d3d3d3;
@boulder: #777;
@mine-shaft: #3a3a3a;
@tuna:  #313134;
@shark: #1f1f20;
