footer {
  background-color: @mine-shaft;
	padding: 5px 0px 20px 0px;
  color: @alto;

  .container {
    width: 95%;
    position: relative;

    .copyright {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  footer > .container {
    width: 100%;
    padding: 10px 8px;
  }
  .copyright {
    position: relative;
    display: block;
  }
}
