body {
  font-family: @main-font;
  background-color: @mine-shaft;
  color: @alto;
}

.section-heading {
  width: 90%;
  margin: 0px auto 20px auto;
}

.hr {
  width: 100%;
  border-top: 1px solid @boulder;
  margin: 15px auto;
}
