.landing-page {

  .welcome-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);

    h1 {
      text-align: center;
      line-height: 1.2;
      letter-spacing: 0.04em;
      margin-bottom: 20px;
    }

    h4 {
      text-align: center;
      font-weight: 200;
      line-height: 1.4;
      font-style: italic;
    }
  }
}
