.photos {
  min-height: 250px;
  background-color: @shark;
  padding: 15px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .photos {
    width: 290px;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .photos {
    width: 320px;
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  .photos {
    width: 380px;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  .photos {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .photos {
    width: 90%;
  }
}

.pic-box {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
  margin: 10px auto;

  img {
    width: 100%;
    height: auto;
    max-width: 70vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.status-text {
  font-size: 18px;
  text-align: center;
  padding-top: 110px;
}

.pagination-bar {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.pics-per-page {
  text-align: center;

  p {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-right: 10px;
  }

  input {
    display: inline-block;
    width: 70px;
  }
}
